@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: lightblue;
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
}

/** Code below is for the top title of the page (Rock | Paper | Scissors) and its positioning on the page **/

#title-of-page {
    text-align: center;
    padding-top: 3%;
    letter-spacing: 3px;
}

/** code below is for the buttons to choose which page you want to visit on the site (Home, Play or Feedback) **/

#menu {
    text-align: center;
    font-size: 110%;
    letter-spacing: 3px;
}

/** code below is for the text (can you beat the computer and also the rules of the game) **/

#question, #rules {
    text-align: center;
    padding-top: 25px;
}

/** code to create your username form **/

#username {
    text-align: center;
    letter-spacing: 3px;
    padding-top: 50px;
}

/** Code for the play buttons **/

.choices {
    display: flex;
    padding-top: 25px;
    justify-content: center;
}

.choice {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 200ms;
}

.choice:hover {
    transform: scale(1.1);
}

/** code for scores **/

.scores {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 3rem;
}

.result-score {
    margin-left: 1rem;
    font-size: 3rem;

}