/** DESIGN FOR FIRST PAGE **/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: lightblue;
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
}

/**  top title of the page (Rock | Paper | Scissors) and its positioning on the page **/

#title-of-page {
    text-align: center;
    padding-top: 3%;
    letter-spacing: 3px;
}

/**  buttons to choose which page you want to visit on the site (Home, Play or Feedback) **/

#menu {
    text-align: center;
    font-size: 110%;
    letter-spacing: 3px;
}

#home, #play, #feedback {
    text-decoration: none;
    text-transform: uppercase;
}

/**  text (can you beat the computer and also the rules of the game) **/

#question, #rules {
    text-align: center;
    padding-top: 25px;
}

/** design of the front page information **/

#question {
    max-width: 550px;
    width: 90%;
    background: white;
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/** DESIGN OF PLAY PAGE **/

/* Game layout */

.heading {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.answer-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

/** buttons for play page **/

.button-rock {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
    background-color:lightblue;
    cursor: pointer;
}

.button-rock:hover {
    font-size: 20px;
}

.button-paper {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
    background-color:lightblue;
    cursor: pointer;
}

.button-paper:hover {
    font-size: 20px;
}

.button-scissors {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
    background-color:lightblue;
    cursor: pointer;
}

.button-scissors:hover {
    font-size: 20px;
}


/** scores **/



























/** FEEDBACK PAGE **/

/** feedback form **/

#main {
    padding-bottom: 50px;
}

form {
    max-width: 550px;
    width: 90%;
    background: white;
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    text-align: center;
}

label {
    display: block;
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid black;
}

input[type="text"]:focus, textarea:focus {
    border-bottom: 1px solid lightblue;
}

.center {
    text-align: center;
}

input[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: lightblue;
    cursor: pointer;
    border-radius: 50px;
}

.error {
    color: red;
}

.error-border {
    border-bottom: 1px solid red;
}

#success {
    color: green;
}

/** media query **/




